<ion-content [fullscreen]="true">
  <ion-grid class="grid">
    <ion-row class="ion-padding row">
      <ion-col class="ion-padding">
        <ion-label class="logo-text ion-padding">digg</ion-label>
      </ion-col>
      <ion-col class="ion-padding progress-bar">
        <ion-progress-bar value="0.6"></ion-progress-bar>
      </ion-col>
    </ion-row>
    <ion-row class="question">
      <ion-col>
        <ion-label>
          What industries would you prefer to work in?
        </ion-label>
      </ion-col>
    </ion-row>
    <ion-row class="question">
      <ion-col size="2" *ngFor="let industry of industries">
        <ion-button (click)="setIndustry(industry.industry)"
          [class.selected]="form.get('industry').value==industry.industry">
          <ion-icon [src]=industry.icon></ion-icon>
          {{industry.industry}}
        </ion-button>
      </ion-col>
    </ion-row>


    <ion-row>
      <ion-col size="2" class="button-col">
        <ion-button fill="clear" class="clear-btn" (click)="goBack()">
          Back
        </ion-button>
      </ion-col>
      <ion-col class="button-col">
        <ion-button (click)="next()">
          Next
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>