<ion-content [fullscreen]="true">
  <ion-grid class="grid">
    <ion-row class="ion-padding row">
      <ion-col class="ion-padding">
        <ion-label class="logo-text ion-padding">digg</ion-label>
      </ion-col>
      <ion-col class="ion-padding progress-bar">
        <ion-progress-bar value="0.2"></ion-progress-bar>
      </ion-col>
    </ion-row>
    <ion-row class="question">
      <ion-col>
        <ion-label>
          Have you ever visited Dubai?
        </ion-label>
      </ion-col>
    </ion-row>
    <ion-row class="question">
      <ion-col size="2">
        <ion-button (click)="setVisitField(false)" [class.selected]="!isVisiting">
          <ion-icon src="assets/icons/thumbs-down.svg"></ion-icon>
          No
        </ion-button>
      </ion-col>
      <ion-col size="2">
        <ion-button (click)="setVisitField(true)" [class.selected]="isVisiting">
          <ion-icon src="assets/icons/thumbs-up.svg"></ion-icon>
          Yes
        </ion-button>
      </ion-col>
    </ion-row>

    <ion-row class="question">
      <ion-col>
        <ion-label>
          Do you have any friends or family in Dubai?
        </ion-label>
      </ion-col>
    </ion-row>
    <ion-row class="question">
      <ion-col size="2">
        <ion-button (click)="setFriendsField(false)" [class.selected]="!hasFriends">
          <ion-icon src="assets/icons/thumbs-down.svg"></ion-icon>
          No
        </ion-button>
      </ion-col>
      <ion-col size="2">
        <ion-button (click)="setFriendsField(true)" [class.selected]="hasFriends">
          <ion-icon src="assets/icons/thumbs-up.svg"></ion-icon>
          Yes
        </ion-button>
      </ion-col>
    </ion-row>

    <ion-row class="question">
      <ion-col>
        <ion-label>
          How long do you want to stay in Dubai?
        </ion-label>
      </ion-col>
    </ion-row>
    <ion-row class="question">
      <ion-col size="2">
        <ion-button (click)="setDuration('3')" [class.selected]="form.get('duration').value == '3'">
          <ion-icon src="assets/icons/calendar.svg"></ion-icon>
          Up to 3 months
        </ion-button>
      </ion-col>
      <ion-col size="2">
        <ion-button (click)="setDuration('3-6')" [class.selected]="form.get('duration').value == '3-6'">
          <ion-icon src="assets/icons/calendar.svg"></ion-icon>
          3 to 6 months
        </ion-button>
      </ion-col>
      <ion-col size="2">
        <ion-button (click)="setDuration('6-12')" [class.selected]="form.get('duration').value == '6-12'">
          <ion-icon src="assets/icons/calendar.svg"></ion-icon>
          6 to 12 months
        </ion-button>
      </ion-col>
      <ion-col size="2">
        <ion-button (click)="setDuration('+12 months')" [class.selected]="form.get('duration').value == '+12 months'">
          <ion-icon src="assets/icons/calendar.svg"></ion-icon>
          +12 months
        </ion-button>
      </ion-col>
      <ion-col size="2" (click)="setDuration('+3 years')" [class.selected]="form.get('duration').value == '+3 years'">
        <ion-button>
          <ion-icon src="assets/icons/calendar.svg"></ion-icon>
          +3 years
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="2" class="button-col">
        <ion-button fill="clear" class="clear-btn" (click)="goBack()">
          Back
        </ion-button>
      </ion-col>
      <ion-col class="button-col">
        <ion-button (click)="next()">
          Next
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>