ion-content {
  background-image: url(/assets/images/purple-bg.png) !important;
    --background: none;
    background-position: left center;
    background-repeat: no-repeat;
    background-size: 55% 160%;
}

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px) {
    ion-content {
      background: none !important;
    }
    .logo-text {
      color: #000 !important;
    }
    .quote {
      display: none !important;
    }
  }

*, ion-label {
  font-family: 'Sora Regular' !important;
}


.contact-label {
  --padding-start: 0;
}
.grid {
  height: 100%;
}

.row {
  min-height: 100%;
}

.input {
  --background: #efefef;
  ion-label {
    font-family: 'Sora Light' !important;
  }
}


.gender-options {
  margin-top: 1rem;
  padding-left: 1rem;
  display: flex;
}

.checkbox, .option {
  margin-right: 1rem;
}

ion-checkbox {
  --background-checked: linear-gradient(to bottom right, #4734E1, #8E27EA);
  --border-color: transparent;
  --border-color-checked: transparent;
  --background: #efefef;
}

.header-col  {
  margin-bottom: 2rem;
}

.form-col {
  align-self: center;
  height: 100%;

  .form-header {
    font-family: 'Sora Regular';
    font-size: 2rem;
    margin-bottom: 1rem;
  }
}

.error-message {
  color: red;
}

.button-col {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 1rem;

  ion-button {
    --box-shadow: 0 0 black;
    --border-radius: 2rem;
    --background: linear-gradient(to bottom right, #4734E1, #8E27EA);
    text-transform: capitalize;
    height: 4rem;
    font-size: 1rem;
    width: 15rem;
    font-family: 'Sora Light' !important;
  }
}


.logo-text {
  font-family: 'IBM Bold' !important;
  color: #fff;
  font-size: 2rem;
  padding: 0;
}


.quote {
  position: absolute;
  bottom: 0;
  color: white;
  line-height: 2;
  font-size: 0.95rem;

  ion-label {
    padding-bottom: 2rem;
  }
}
.options {
  ion-label {
    align-self: center;
  }
}

.checkbox {
  display: flex;
    align-items: center;
}